<!-- dwitter/templates/dwitter/dashboard.html -->

{% extends 'base.html' %}

{% block content %}
<div class="columns">
    <!--Account Options Column (logout password-reset etc)-->
    <div class="column">
        Hello, {{ user.username|default:'Guest' }}!
        {% if user.is_authenticated %}
        <div class="block">
            <div class="block">
                <div class="columns">
                    <div class="column">
                        <form method="post" action="{% url 'dwitter:password_reset' %}">
                            {% csrf_token %}
                            <button type='submit' class="button is-warning is-fullwidth" >Password Reset</button>
                        </form>
                    </div>
                    <div class="column">
                        <form method="post" action="{% url 'dwitter:logout' %}">
                            {% csrf_token %}
                            <button type='submit' class="button is-info is-fullwidth" >Logout</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="columns">
                    <div class="column">
                        <a href="{% url 'dwitter:profile_list' %} ">
                            <button class="button is-dark is-outlined is-fullwidth">
                                All Profiles
                            </button>
                        </a>
                    </div>
            
                    <div class="column">
                        <a href="{% url 'dwitter:profile' request.user.profile.id %} ">
                            <button class="button is-success is-light is-outlined is-fullwidth">
                                My Profile
                            </button>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Add Dweet Column-->
    <div class="column is-one-third">
        <div class="block">
            {% for dweet in dweets %}
            <div class="box">
                {{dweet.body}}
                <span class="is-small has-text-grey-light">
                    {{ dweet.created_at }} by {{ dweet.user.username }}
                </span>
            </div>
        {% endfor %}    
        </div>
    </div>
    <!-- Add Dweet Column-->
    <div class="column is-one-third">
        <div class="block">
            <div class="block">
                <h2 class="title is-2">Add a Dweet</p>
            </div>
            <div class="block">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button is-info is-dark is-fullwidth is-medium mt-5"
                            type="submit">Dweet
                    </button>
                </form>
            </div>
        </div>

    </div>

        {% else %}
            <a href="{% url 'dwitter:login' %}">Login</a>
        {% endif %}
    </div>
</div>
{% endblock content %}